.dark {
  /* background-color: #151d34; */
  /* background-color: #2d2c50; */
  background-color: #000000;
}

* {
  overflow: hidden;
}

.blurred-background {
  backdrop-filter: blur(10px); /* ปรับค่าตามความเบลอที่คุณต้องการ */
  -webkit-backdrop-filter: blur(10px); /* สำหรับเบราว์เซอร์บางตัว */
}

.btn {
  background-color: #c82626;
  /* border: 3px solid rgb(0, 0, 0); */
  border-radius: 10px;
  /* box-shadow: 0px 9px 0px #000000; */
  color: #fff5c4;
  margin-top: 20px;
  margin-bottom: 14%;
  padding: 12px;
  width: 25%;
}

.nav-link {
  text-decoration: none;
}

/* .nav-link:hover {
  text-decoration: underline;
  transition: .6s;
} */

.nav-link.active {
  text-decoration: underline;
  transition: 0.5s;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ed2929;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff4444;
}

.dark ::-webkit-scrollbar {
  width: 8px;
}

.dark ::-webkit-scrollbar-track {
  background: #374151;
}

.dark ::-webkit-scrollbar-thumb {
  background: #f2b5bd;
  border-radius: 6px;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #f5c3ca;
}

.radio-button .ant-radio-checked .ant-radio-inner {
  background-color: #373b74;
  border: #373b74;
}

.radio-button .ant-radio-checked .ant-radio-inner::after {
  background-color: #373b74;
  border: #373b74;
}

.radio-button .ant-radio .ant-wave-target {
  border: #373b74;
}

.dark .radio-button .ant-radio-checked .ant-radio-inner {
  background-color: #fff2b3;
  border: #fff2b3;
}

.dark .radio-button .ant-radio-checked .ant-radio-inner::after {
  background-color: #fff2b3;
  border: #fff2b3;
}

.dark .radio-button .ant-radio .ant-wave-target {
  border: #fff2b3;
}




/* .custom-radio-background
  .ant-radio-wrapper
  .ant-radio-checked
  .ant-radio-inner {
  background-color: red !important;
}*/

/* .test .ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  background-color: #000000;
} */

/* .ant-radio-wrapper .ant-radio-input:focus + .ant-radio-inner,
.ant-radio-wrapper:hover .ant-radio-inner,
.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  border-color: #374151;
  background-color: #374151;
} */

/* .dark .ant-radio-wrapper .dark .ant-radio-input:focus + .dark .ant-radio-inner,
.dark .ant-radio-wrapper:hover .dark .ant-radio-inner,
.dark .ant-radio-wrapper .dark .ant-radio-checked .dark .ant-radio-inner {
  border-color: #fff2b3;
  background-color: #fff2b3;
} */
